
@page "/machine"

<PageTitle>Weather forecast</PageTitle>

@using Ovning16ImpBlazor.Data
@inject MachineService MachineService

<div class="container-fluid mt-3 mx-1">
    <div class="row">
       
        <div class="col-md-3 px-1 border bg-light mx-2">
            <h1>Daily Stats</h1>            
            <p>Total Machines: @NumbersMachines</p>
            <p>Active machines: @ActiveMachines</p>
            <p>Avarage spped of active machines: @AverageSpeedActive.ToString("F2") </p>
       
           
        </div>

        <div class="col-md-8 px-1 border bg-light mx-5">
            <h1>Machine park</h1>
            <p>List of devices</p>

            @if (machines == null)
            {
                <p>Loading........................</p>
            }
            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Name</th>
                            <th>Color</th>
                            <th>Speed</th>
                            <th>Is machine active</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (machines != null)
                        {
                            int counter = 1;
                         

                            @foreach (var x in machines)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@x.Id</td>
                                    <td>@x.LatestDataSent.ToString("yyyy-MM-dd")</td>
                                    <td>@x.LatestDataSent.ToString("HH:mm:ss")</td>
                                    <td>
                                        @if (editingMachineId == x.Id)
                                        {
                                            <input type="text" class="form-control" @bind="x.Name" />
                                        }
                                        else
                                        {
                                            @x.Name
                                        }
                                    </td>
                                    <td>
                                        @if (editingMachineId == x.Id)
                                        {
                                            <input type="text" class="form-control" @bind="x.Color" />
                                        }
                                        else
                                        {
                                            @x.Color
                                        }
                                    </td>
                                    <td>
                                        @if (editingMachineId == x.Id)
                                        {
                                            <input type="number" class="form-control" @bind="x.Speed" />
                                        }
                                        else
                                        {
                                            @x.Speed
                                        }
                                    </td>
                                 <td>
                                    @if (editingMachineId == x.Id)
                                    {
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="@($"checkbox-{x.Id}")" @bind="x.IsOnline" />
                                            <label  for="@($"checkbox-{x.Id}")" class="form-check-label">Active</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <span class="badge @(x.IsOnline ? "bg-success" : "bg-secondary")">@x.IsOnline</span>
                                    }
                                </td>



                                    <td>
                                        @if (editingMachineId == x.Id)
                                        {
                                            <button class="btn btn-success btn-sm" @onclick="() => SaveMachine(x)">Save</button>
                                            <button class="btn btn-warning btn-sm" @onclick="() => CancelEdit()">Cancel</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-info btn-sm" @onclick="() => EditMachine(x.Id)">Edit</button>
                                            <button class="bt btn-danger btn-sm" @onclick="() => DeleteMachine(x.Id)">Delete</button>
                                        }
                                    </td>
                                </tr>
                                counter++;
                            }




                        }
                    </tbody>
                </table>
            }
           

            <button type="button" class="btn btn-primary mx-2 my-2" @onclick="ToggleAddFormVisibility">New machine</button>

            @if (showAddForm)
            {
                <div class="mt-3">
                    <div class="form-group">
                        <label for="machineName">Name:</label>
                        <input type="text" class="form-control" id="machineName" @bind="newMachineName" placeholder="Enter machine name">
                    </div>
                    <div class="form-group">
                        <label for="machineColor">Color:</label>
                        <input type="text" class="form-control" id="machineColor" @bind="newMachineColor" placeholder="Enter machine color">
                    </div>
                    <div class="form-group">
                        <label for="machineSpeed">Speed:</label>
                        <input type="number" class="form-control" id="machineSpeed" @bind="newMachineSpeed" placeholder="Enter machine speed">
                    </div>
                    <button class="btn btn-success" @onclick="AddMachine">Submit</button>
                </div>
            }

        </div>
    </div>
</div>

@code {

    private Machine[]? machines;
    private bool showAddForm = false;
    private Guid? editingMachineId;   
    private string newMachineName = "";
    private string newMachineColor = "";
    private int newMachineSpeed = 0;


    private int NumbersMachines => machines?.Length ?? 0;
    private int ActiveMachines => machines?.Count(x => x.IsOnline) ?? 0;
    private double AverageSpeedActive => machines?.Where(x => x.IsOnline).Average(x => x.Speed) ?? 0;




 

    protected override async Task OnInitializedAsync()
    {
        machines = await MachineService.GetMachinesAsync();
    }

    private void ToggleAddFormVisibility()
    {
        showAddForm = !showAddForm;
    }   




    private async Task AddMachine()
    {
        var newMachine = new Machine
    {
        Id = Guid.NewGuid(),
        Name = newMachineName,
        Color = newMachineColor,
        Speed = newMachineSpeed,
        LatestDataSent = DateTime.Now,
        IsOnline = true 
    };


        await MachineService.AddMachineAsync(newMachine);


        newMachineName = "";
        newMachineColor = "";
        newMachineSpeed = 0;
        showAddForm = false;

        machines = await MachineService.GetMachinesAsync();
    }

  

    private async Task DeleteMachine(Guid id)
    {
        await MachineService.DeleteMachineAsync(id);
        machines = await MachineService.GetMachinesAsync();  
        StateHasChanged();  
    }

   
    
    private void EditMachine(Guid id)
    {
        editingMachineId = id;
    }

    private async Task SaveMachine(Machine machine)
    {
        await MachineService.UpdateMachineAsync(machine); 
        editingMachineId = null;
        machines = await MachineService.GetMachinesAsync();
        StateHasChanged();
    }

    private void CancelEdit()
    {
        editingMachineId = null;
    
    }

   



}
